@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.nft-item:hover .nft-preview-container {
  display: flex; /* Change from hidden to flex to show the container */
}

.user-item:hover .user-preview-container {
  display: block;
}
html {
  background-color: gray;
}

/* styles/globals.css */

pre code {
  display: block; /* Makes the code element block-level for multiline support */
  font-family: monospace; /* Monospace font for code-like appearance */
  background-color: #000; /* Black background */
  color: #d51212; /* White text color for contrast */
  padding: 1rem; /* Padding around the text */
  margin: 1rem 0; /* Space between code blocks and surrounding text */
  border-radius: .25rem; /* Rounded corners */
  white-space: pre-wrap; /* Ensures code wraps and respects whitespace */
  word-wrap: break-word; /* Breaks long words to prevent overflow */
}

/* styles/globals.css */

code {
  font-family: monospace; /* Monospace font for code-like appearance */
  color: #d51212; /* White text color for contrast */
  border-radius: .25rem; /* Rounded corners */
  white-space: pre-wrap; /* Ensures code wraps and respects whitespace */
  word-wrap: break-word; /* Breaks long words to prevent overflow */
}

